doctype html 
html 
    head 
        title Vertex League
        meta(charset="utf-8")
        block stylesheets 
            link(rel="stylesheet" href="css/shared.css")
            link(rel="stylesheet" href="css/banner.css")
    body 
        .banner 
        .container 
            block content