doctype html 
html 
    head 
        title Vertex League
        meta(charset="utf-8")
        block stylesheets 
            link(rel="stylesheet" href="css/shared.css")
            link(rel="stylesheet" href="css/base.css")
        block scripts 
            script(type="text/javascript" src="js/base.js")
    body 
        .banner 
            a.banner-logo(href="/overview?season=1")
                img(src="img/vl-logo.png")
            a.banner-title(href="/overview?season=1") VERTEX LEAGUE
            .banner-nav 
                if(seasonData)
                    -var i = 0
                    while i < seasonData.totalSeasons
                        if (i == seasonData.selectedSeason.id)
                            a.nav-season.nav-season-active(href="/overview?season="+(i) data-season-number=(i))= "Season " + (i + 1)
                        else 
                            a.nav-season(href="/overview?season="+(i) data-season-number=(i))= "Season " + (i + 1)
                        - i++
            .banner-spacer
        .banner-dropdown-container
            .invis
            .invis
            .banner-dropdowns
                if(seasonData)
                    -var i = 0
                    while i < seasonData.totalSeasons 
                        .season-menu(id="dropdown-menu-season-" + (i) data-season-number=(i))
                            a.season-menu-item(href="/overview?season=" + (i)) Overview
                            a.season-menu-item(href="/matches?season=" + (i)) Matches
                            a.season-menu-item(href="/teams?season=" + (i)) Teams 
                            a.season-menu-item(href="/map-pool?season=" + (i)) Map Pool
                            a.season-menu-item(href="/rules?season=" + (i)) Rules
                        - i++
            .invis

        .content 
            block content