extends base 

append stylesheets 
    //- fill

block content 
    .panel 
        .panel-head Rules
        .panel-body
            if(seasonData.rules)
                p Rules go here. soon(tm)
            else 
                p No rule set found