extends base 

append stylesheets 
    link(rel="stylesheet" href="css/teams.css")

block content 
    .panel 
        .panel-head Teams
        .panel-body
            .teams-table
                .teams-table-head-row
                    .teams-table-head-cell Name
                    .teams-table-head-cell Tag
                    .teams-table-head-cell Players
                if(seasonData.teams)
                    each team in seasonData.teams
                        .teams-table-row 
                            .teams-table-cell.teams-table-team-name= team.name
                            .teams-table-cell= team.tag
                            .teams-table-cell.teams-table-member-list= team.members.map((member) => member.name).join(", ")
                else 
                    .teams-table-row No team data