.panel {
    width: 55%;
}

.panel-body {
    height: 100%;
    padding: 0px;
}

.match-panel {
    width: 100%;
    height: 100%;

    place-items: center;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: repeat(14, 1fr);
}

.match-item {
    padding: 5px;
    width: 100%;
    height: 100%;

    align-self: center;
}

.match-item:hover {
    padding: 0px;

    width: 100%;
    height: 100%;

    align-self: center;
}

.match-result {

    background-color: var(--secondary-color);

    border: 1px solid rgba(0,0,0,0.3);

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    align-items: center;

    height: 100%;

    font-size: .6rem;
}

.match-result:hover {
    background-color: var(--secondary-color-light);

    box-shadow: 0px 0px 3px black;

    cursor: pointer;
}

.home {
    justify-self: start;
}

.away {
    justify-self: end;
}

.vs {
    justify-self: center;
    font-size: .5rem;
}

.score {
    justify-self: center;
    font-size: .6rem;
    letter-spacing: .2rem;
}

.match-result > img{
    justify-self: center;
    width: 15px;
}

.week-number {
    font-size: .8rem;
    display: grid;
    place-content: center;

    background-color: var(--secondary-color-light);

    width: 100%;
    height: 100%;
}