.panel {
    display: inline-block;
    height: max-content;
}

.panel-head {
    display: grid;
    grid-template-columns: 1fr 8fr;

    font-size: 1.2rem;

    height: 7vh;
}

.panel-body {
    padding: 0px;
    height: max-content;
}

.overall-result {
    color: var(--font-main-color);

    display: grid;
    grid-template: 1fr / 2fr 3fr 3fr 3fr 2fr;

    font-size: .8rem;

    justify-items: center;
    justify-self: center;
}

.laurels {
    width: 20px;
    justify-self: center;

    z-index: 0;
}

.team1 {
    background-color: rgb(65,65,65);
    padding: 7px 0px;
}

.team2 {
    background-color: rgb(60,60,60);
    padding: 7px 0px;
}

.green {
    color: rgb(92,255, 15);
}

.red {
    color: rgb(255, 71, 71);
}

table {
    font-size: 7.5pt;

    width: 100%;
    height: 100%;

    border-collapse: collapse;
}

th {
    background-color: var(--bg-color-medium);
    padding: 15px 0px;

    color: var(--font-dim-color);
    font-size: 90%;
}

.round-nr {
    background-color: var(--bg-color-medium);

    border-top: 0px;
    border-left: 0px;
}

.tr-round-end {
    border-bottom: 1px solid black;
}

td {
    text-align: center;

    border: 1px solid rgba(100,100,100,0.2);

    padding: 2px;
}